.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
Xeva.Rproj
R/.DS_Store

##ignore vignette files
vignettes/*.aux
vignettes/*.log
vignettes/*.out
vignettes/*.run.xml
vignettes/*.synctex.gz
vignettes/*concordance.tex
vignettes/*.toc
vignettes/*.tex
vignettes/*.blb
vignettes/*.blg
vignettes/*.R
vignettes/*.bbl

##ignore vignette tmp files
vignettes/tmp*
vignettes/.*
vignettes/=.*
vignettes/Roger.save

##ignore vignette figure dir
vignettes/figure
vignettes/figure/*
